/** ====================
Imports 
=====================**/

/* Media queries */
@import url("mediaqueries/cellphone.css");
@import url("mediaqueries/tablet.css");
@import url("mediaqueries/laptop.css");

/* Font declaration */
@import url("fonts.css");

/**====================
End of imports
=====================*/

body {
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
}

.burger-menu {
    display: none;
}

#menu {
    list-style: none;
    display: flex;
    font-size: inherit;
}

#menu li {
    margin: 0 0.1em;
}
#logo {
    color: rgb(37,96,20);
}

#home {
    padding: 16px;
    margin-top: 300px;
    background: url(../assets/img/rodion-kutsaev-049M_crau5k-unsplash\ 1.jpg) no-repeat center;
    background-size: cover;
}