/*================= 
Font imports */
@font-face {
    font-family: "poppins regular";
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppins light";
    src: url(../assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "poppins thin";
    src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
}

@font-face {
    font-family: "poppins thin italic";
    src: url(../assets/fonts/Poppins/Poppins-ThinItalic.ttf);
}

@font-face {
    font-family: "poppins bold";
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "poppins semibold";
    src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "poppins semibold italic";
    src: url(../assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf);
}
/*=====================
End of font imports
=====================*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: "poppins regular";
}

header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 1;
    font-family: "poppins semibold";
}

.burger-menu {
    display: none;
}

nav {
    margin-right: 1%;
}
#menu {
    list-style: none;
    display: flex;
    font-size: inherit;
    gap: 10px;
}

#menu li {
    margin: 0 0.1em;
}

a {
    text-decoration: none;
    color: black;
}
#logo {
    color: rgb(37,96,20);
    margin-left: 10px;
}

#logo > span  {
    font-family: "poppins semibold italic";
}

#home {
    padding: 16px;
    margin-top: 50px;
    background: url(../assets/img/rodion-kutsaev-049M_crau5k-unsplash\ 1.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
}

.txt-white {
    color: white;
}

.txt-green {
    color: rgb(217,243,86);
}

#intro {
    position: absolute;
    top: 80%;
    right: 5%;
    color: white;
    text-align: end;
    font-size: 3em;
}

#intro > span {
    font-family: "poppins semibold";
    color: rgb(217,243,86);
}

#team {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
}

#team > h2 {
    color: green;
    font-size: 2em;
}

#team > p {
    font-size: 1.5em;
}

#staff {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    font-family: "poppins thin"
}

.badge > h2 {
    font-family: "poppins regular";
}

.img-container {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.img-container > img {
    clip-path: circle(50%);
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;  
}

#feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(24,58,68);
    color: white;
    padding: 2%;
}

#feedback h2 {
    text-align: center;
    color: rgb(217,243,86);
    font-family: "poppins semibold";
    font-size: 2em;
}

.kpi {
    line-height: 20%;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: green;
    width: 70%;
    margin: auto;
}

.services-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: black;
    font-family: "poppins semibold";
    padding: 5%;
}

.icon-container {
    background-color: rgb(244,246,245);
    border-radius: 1em;
    width: 300px;
    height: 300px;
    align-content: center;
}

.icon-container > img {
    margin: 15%;
}

#contact {
    background-color: rgb(24,58,68);
    text-align: center;
    color: white;
    font-family: "poppins regular";
    width: auto;
    padding-top: 2%;
}

#contact > h2 {
    color: rgb(217,243,86);
}

form {
    display: grid;
    grid-template-areas:
        "name category"
        "phone city"
        "email email"
        "message message"
        "message message"
        "message message"
        "message message"
        "message message"
        "button button";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 3em;
    padding: 5%;
}

.frm-item {
    border: none;
    border-bottom: 1px solid white;
}

.frm-item:focus {
    outline: none;
}

/*===============
Positioning form items
===============*/
#frm-name {
    grid-area: name;
}
#frm-cat {
    grid-area: category;
}
#frm-phone {
    grid-area: phone;
}
#frm-city {
    grid-area: city;;
}
#frm-email {
    grid-area: email;
}

#frm-txt {
    grid-area: message;
    background: transparent;
    color: white;
}

#frm-btn {
    grid-area: button;
    background-color: rgb(217,243,86);
    border: none;
    border-radius: 3em;
    justify-self: flex-end;
    padding: 1em 3em;
}
/*=================
End of positioning grid items
=================*/

input {
    background: transparent;
    color: white;
}

#about {
    margin: 5% 0 10% 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#about > img {
    width: 50%;
    height: 50%;
    border-radius: 1em;
    margin: 0 2%;
}

#about-container {
    border: 1px solid rgb(31,51,56);
    border-radius: 1em;
    text-align: center;
    width: 50%;
    margin: 0 2%;
}

#about-container > p {
    font-family: "poppins thin";
}

#about-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.1fr);
    margin-top: 15%;
}

.about-icon-container {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 3px solid rgb(31,51,56);
    border-radius: 50%;
}

.about-icon-container > img {
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(0.4);
}

#gallery {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#gallery > h2 {
    color: green;
}

#gallery > p {
    width: 80%;
    margin: auto;
    font-size: 1.5em;
}

.slider-container {
    margin-top: 2%;
    width: 80%;
    align-self: center;
}

.slides-wrapper {
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}
.pic {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
}

#slider-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}


#slider-buttons > a {
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.chevron > i {
    margin-left: 1px;
}

.chevron:hover {
    color: white;
    background-color: black;
}

footer {
    width: auto;
}

#top, #bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}

#top {
    background-color: rgb(21,50,59);
    justify-content: space-around;
}

#top p {
    line-height: 0.5em;
    font-family: 'poppins light';
}
#infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infos-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

#top i {
    color: rgb(217,243,86);
    font-size: 2em;
}

#bottom {
    background-color: rgb(12,34,39);
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

#social {
    display: flex;
    justify-content: space-around;
    gap: 1.5em;
    padding:  0 5%;
}

#social i {
    border: 1px solid white;
    padding: 10%;
    border-radius: 1em;
}

/**===================
BREAKPOINTS LIST
CELLPHONE = @media screen and (width <=480px)
TABLET = @media screen and (width > 480px) and (width <=769px)
LAPTOP = @media screen and (width > 769px) and (width <=1025px)
======================*/

/*
MOBILE DEVICES RULES
Switch from nav item list to burger menu
Resize img
*/
@media screen and (width <=769px) {
    header {
        flex-wrap: wrap;
        height: auto;
    }
    #burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-right: 2%;
    }

    #burger-menu span {
        width: 30px;
        height: 4px;
        background: black;
        margin: 5px;
    }

    nav {
        display: none;
        width: 100%;
        background-color: white;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #intro {
        top: 75%;
        font-size: 1.5em;
        margin: auto;
    }
    #staff {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }

    #feedback {
        flex-direction: column;
        text-align: center;
    }

    .kpi {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }
    .img-container {
        width: 100px;
        height: 100px;
    }

    #services {
        flex-direction: column;
    }

    .services-container {
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .frm-item {
        align-self: center;
        width: 90%;
    }
   
    #frm-txt {
        height: 100px;
    }
    #about {
        flex-direction: column;
    }

    #about > img {
        align-self: center;
        width: 98%;
    }
    
    #about-container {
        padding: 5%;
        margin: 2%;
        text-align: center;
        width: auto;
    }

    #about-icons {
        display: flex;
        flex-direction: column;
    }

    #top {
        flex-direction: column;
        text-align: center;
    }

    .infos-item {
        justify-content: center;
    }

    #top i {
        display: none;;
    }

    #bottom {
        font-size: 10px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5%;
    }

    #social {
        justify-content: center;
    }

    #social > i {
        font-size: 25px;
        border-radius: 0.5em;
    }
  }

  @keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
  }