@media screen and (width <=480px) {
    header {
        flex-wrap: wrap;
    }
    #burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    #burger-menu span {
        width: 30px;
        height: 4px;
        background: black;
        margin: 5px;
    }

    nav {
        display: none;
        width: 100%;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
  }